* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
:root {
  --darkblue: #040b1b;
  --lightBlue: #0e59c7;
  --blue: #1d74f5;
  --grey: #a3b4cc;
  --lightBlueFont: #c1d7fc;
}
body {
  background-color: var(--darkblue);
}
header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
}
nav {
  width: 80%;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style-type: none;
}
li img {
  width: 120px;
  height: 21px;
}
li a {
  transition: 0.3s;
  text-decoration: none;
}
li a:hover {
  color: var(--blue);
}
.tip {
  width: 80%;
  height: 40px;
  background-color: #0b182b;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heroImg {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heroImg h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}
.heroImg p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 1em 0 1em 0;
}
.content {
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btnRow {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  width: 137px;
  height: 46px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.trial {
  background-color: var(--lightBlue);
  color: white;
  text-align: center;
}
.server {
  background-color: #6b7d99;
  color: black;
  text-align: center;
}
.heroImg img {
  height: 500px;
  width: 580px;
}
.trustedBy {
  height: 140px;
  width: 80%;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.trustedBy p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: var(--grey);
  text-transform: uppercase;
}
.trustedBy .logoRow {
  width: 80%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoRow img {
  height: 30px;
  width: 200px;
}
.about {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutRow {
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
.aboutRow .col {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.aboutRow img {
  height: 400px;
  width: 500px;
}
.aboutRow h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}
.aboutRow p {
  width: 350px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--grey);
  margin: 1em 0 1em 0;
}
.aboutRow iframe {
  padding-right: 3em;
}
.aboutRow .code {
  height: inherit;
  width: 100%;
  background-size: 60% auto;
  background-image: url(https://rocket.chat/images/index/join-community.jpg);
  background-repeat: repeat-y;
  animation: positionXHome 50s linear infinite;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: positionXHome;
}
.features {
  height: 480px;
  width: 85%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .col {
  height: 200px;
  width: 460px;
  color: var(--lightBlueFont);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.features #bold {
  font-size: 16px;
  font-weight: 700;
  color: var(--lightBlueFont);
}
.features p {
  color: var(--lightBlueFont);
}
.appFeature {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.appFeature .appFeatureRow {
  height: 400px;
  width: 80%;
  background-color: aqua;
}
